<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=Roger;Initial Catalog=app;Integrated Security=True"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Database" value="app"/>
		<add key="ParentTableName" value="projects"/>
		<add key="ChildTableName" value="resources"/>
		<add key="SelectChild" value="select * from resources"/>
		<add key="SelectParent" value="select * from projects"/>
		<add key="ChildForeignKey" value="project_id"/>
		<add key="ParentReferencedKey" value="project_id"/>
		<add key="ForeignKey" value="fk_projects"/>
	</appSettings>
</configuration>